<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../../../vue.js"></script>
</head>
<body>
    <div id="root">
        姓：<input type="text" v-model="firstname">
        名：<input type="text" v-model="lastname">
        <div>{{count}}</div>
        <div>{{fullname}}</div>
    </div>
    <script>
        new Vue({
            el:"#root",
            data:{
                firstname:'',
                lastname:'',
                count: 0
            },
            computed:{
                fullname:function(){
                    return this.firstname+' '+this.lastname;
                }
            },
            watch:{
                fullname:function(){
                    this.count++
                }
            }
        })
    </script>
</body>
</html>